@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}

body {
	height: 100vh;
	font-family: "poppins";
}
input {
	border: #282c34 solid 2px;
	display: block;
}

button[type="button"] {
	background-color: aliceblue;
	border: #282c34 solid 1px;
	color: #282c34;
	padding: 3px 5px;
	margin-top: 10px;
}

h3.side-titles {
	display: block;
	white-space: nowrap;
	font-weight: 500;
	position: relative;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h3.side-titles::after {
	content: "";
	width: 100%;
	height: 5px;
	background-color: #4c566a;
	display: block;
	position: absolute;
}

#skill-list,
#personal-info-container {
	gap: 8px;
}

.experience-container,
.education-container {
	display: flex;
	justify-content: space-between;
}
.main-titles {
	font-weight: 600;
	font-size: 1.3rem;
	position: relative;
	margin-bottom: 15px;
}
.main-titles::after {
	content: "";
	width: 100%;
	height: 5px;
	background-color: #4c566a;
	display: block;
	position: absolute;
}

.job-title-desc,
.school-name-course {
	width: 70%;
}

#experience-list-container,
#education-list-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.school-location-date,
.school-name-course,
.job-location-date,
.job-title-desc {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.job-title-company,
.school-name {
	font-weight: 600;
}

#outer-experience-container,
#outer-education-container,
#introduction-container {
	margin-bottom: 12px;
}
.job-location,
.school-location {
	text-transform: uppercase;
	font-weight: 500;
}

textarea,
input {
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	padding: 0px 3px;
	color: black;
	width: 100%;
}

textarea {
	height: 10em;
}
