@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "poppins";
	src: url("../src/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}

body {
	height: 100vh;
	font-family: "poppins";
}
input {
	border: #282c34 solid 2px;
	display: block;
}

button {
	background-color: #282c34;
	border: #282c34 solid 1px;
}

h3.side-titles {
	display: block;
	white-space: nowrap;
	font-weight: 500;
	position: relative;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h3.side-titles::after {
	content: "";
	width: 100%;
	height: 5px;
	background-color: #4c566a;
	display: block;
	position: absolute;
}

#skill-list,
#personal-info-container {
	gap: 8px;
}

.experience-container,.education-container{
	display: flex;
	justify-content: space-between;
}